@import url("./app.css");

.settings-section {
  padding-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-box {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.settings-header {
  padding: 10px 50px;
  position: fixed;
  top: 60px;
  background-color: var(--darkColor1);
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.settings-header-icon {
  color: var(--darkColor5);
  font-size: 32px;
  cursor: pointer;
}

.settings-header-title {
  color: var(--darkColor5);
  cursor: pointer;
}

.settings-x {
  border-radius: 20px;
  display: flex;
  gap: 10px;
  padding: 30px;
}

.settings-side-menu {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.settings-side-menu-component {
  display: flex;
  flex-direction: column;
}

.settings-side-menu-component-header {
  display: flex;
  align-items: center;
  padding: 5px 20px;
  user-select: none;
}

.settings-side-menu-component-header-title {
  color: #a5a5a5;
  font-size: 12px;
}

.settings-side-menu-component-body {
  display: flex;
  flex-direction: column;
}

.settings-side-menu-component-link {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--darkColor1);
  transition: 0.3s ease all;
  align-items: center;
}

.settings-side-menu-component-link:hover {
  background-color: var(--darkColor2);
}

.settings-side-menu-component-link.active-link-menu {
  background-color: var(--darkColor2);
}

.settings-side-menu-component-link-icon {
  color: var(--darkColor5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-side-menu-component-link-text {
  color: var(--darkColor5);
}

.settings-box-main {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}

.settings-box-main-edit-profile {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-box-main-edit-profile-component {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: var(--darkColor1);
  border-radius: 20px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
}

.settings-box-main-edit-profile-image-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-box-main-edit-profile-image-section-header {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-edit-profile-image-section-header-profile-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  user-select: none;
}

.settings-box-main-edit-profile-image-section-header-title {
  color: var(--darkColor5);
}

.user-settings-edit-profile-image-file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--darkColor2);
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
}

.user-settings-edit-profile-image-file-upload-input {
  display: none;
}

.user-settings-edit-profile-image-file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--darkColor5);
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.user-settings-edit-profile-image-file-upload-file-name {
  color: var(--darkColor5);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.settings-box-main-edit-profile-banner-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-edit-profile-banner-section-header-profile-banner {
  width: 100%;
  aspect-ratio: 21/4;
  border-radius: 10px;
  object-fit: cover;
  user-select: none;
}

.settings-box-main-edit-profile-banner-section-header-title {
  color: var(--darkColor5);
}

.user-settings-edit-profile-banner-file-upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  width: 150px;
  height: 60px;
  border-radius: 10px;
  background-color: var(--darkColor2);
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
}

.user-settings-edit-profile-banner-file-upload-input {
  display: none;
}

.user-settings-edit-profile-banner-file-upload-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--darkColor5);
  font-family: Arial, sans-serif;
  font-size: 14px;
  text-align: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.user-settings-edit-profile-banner-file-upload-file-name {
  color: var(--darkColor5);
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-settings-customization-profile-about-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.user-settings-customization-component-header-title {
  color: var(--darkColor5);
}

.user-settings-customization-about-textbox {
  transition: all 0.5s ease;
  background-color: transparent;
  height: 100px;
  resize: none;
  border-radius: 10px;
  border: 1px solid var(--darkColor2);
  outline: none;
  padding: 15px;
  font-size: 16px;
  color: var(--darkColor5);
  width: 100%;
}

.user-settings-customization-about-textbox:focus {
  border: 1px solid var(--darkColor4);
}

.user-settings-customization-footer {
  display: flex;
  width: 100%;
  padding: 20px;
}

.user-settings-buttons {
  width: 100%;
  display: flex;
  justify-content: end;
  gap: 10px;
}

.user-settings-button {
  width: fit-content;
  border: none;
  background-color: var(--darkColor2);
  transition: all 0.5s ease;
  border-radius: 10px;
  height: 50px;
  padding: 0 25px;
  font-size: 16px;
  color: var(--darkColor5);
  display: flex;
  outline: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
}

.user-settings-button:hover {
  background-color: var(--darkColor4);
}

.settings-box-main-change-flag {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.settings-box-main-change-flag-component {
  padding: 20px;
  background-color: var(--darkColor1);
  border-radius: 20px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-change-flag-component-title {
  color: var(--darkColor5);
}

.dropdown-container {
  position: relative;
  display: inline-block;
  width: 100%;
  font-family: Arial, sans-serif;
}

.dropdown-button {
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
  background-color: var(--darkColor2);
  border: none;
  padding: 25px;
  font-size: 16px;
  color: var(--darkColor5);
  width: 100%;
  text-align: left;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
}

.dropdown-menu {
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
  position: absolute;
  background-color: var(--darkColor2);
  color: var(--darkColor5);
  margin-top: 5px;
  list-style: none;
  padding: 0;
  width: 100%;
  border-radius: 10px;
  z-index: 10;
}

.dropdown-item {
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.dropdown-item:hover {
  background-color: var(--darkColor3);
}

.dropdown-item svg {
  width: 20px;
  height: 20px;
}

.settings-box-main-account-information {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-account-information-component {
  padding: 20px;
  background-color: var(--darkColor1);
  border-radius: 20px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-account-information-component-header-title {
  color: var(--darkColor5);
}

.settings-box-main-account-information-component-main {
  background-color: var(--darkColor2);
  padding: 25px;
  border-radius: 10px;
}

.settings-box-main-account-information-component-main-text {
  color: #a5a5a5;
}

.settings-box-main-password-and-security {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-password-and-security-component {
  padding: 20px;
  background-color: var(--darkColor1);
  border-radius: 20px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-password-and-security-component-header-title {
  color: var(--darkColor5);
}

.settings-box-main-password-and-security-component-main {
  background-color: var(--darkColor2);
  padding: 25px;
  border-radius: 10px;
}

.settings-box-main-password-and-security-component-main-text {
  color: #a5a5a5;
}

.settings-box-main-devices {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-devices-title {
  color: var(--darkColor5);
}

.settings-box-main-devices-main {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: 10px;
}

.settings-box-main-devices-component {
  padding: 20px;
  background-color: var(--darkColor1);
  border-radius: 20px;
  box-shadow:
    0 10px 15px rgba(0, 0, 0, 0.4),
    0 4px 6px rgba(0, 0, 0, 0.2),
    0 -3px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.settings-box-main-devices-component-device-name-icon {
  font-size: 64px;
  color: var(--darkColor4);
}

.settings-box-main-devices-component-device-name {
  color: var(--darkColor5);
  font-size: 18px;
}

.settings-box-main-devices-component-device-last-online,
.settings-box-main-devices-component-device-location,
.settings-box-main-devices-component-device-ip {
  color: #a5a5a5;
}

@media screen and (max-width: 1000px) {
  .settings-box-main-change-flag > .user-settings-buttons {
    justify-content: start;
  }
}

@media screen and (max-width: 600px) {
  .settings-box {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .settings-box,
  .settings-x,
  .settings-side-menu {
    width: 100%;
  }

  .settings-x {
    padding: 0;
  }

  .settings-header {
    padding: 10px;
  }

  .settings-box-main {
    padding-top: 40px;
  }
}
