/*! base css start  */
@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");

* {
  margin: 0;
  user-select: text;
  text-decoration: none;
  list-style: none;
}
body {
  font-family: "electrolize", sans-serif;
  height: 200vh;
}

.container {
  background-color: black;
  color: white;
}

/*! base css end  */

/*! navbar start  */
.navbar {
  background-color: black;
  height: 60px;
  color: white;
  position: fixed;
  width: 100%;
  z-index: 50;
  top: 0;
  right: 0;
}
.navbar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 0% 5%;
}
.logo {
  color: blueviolet;
  font-size: 30px;
}
.menu-list {
  display: flex;
  list-style: none;
  column-gap: 25px;
  padding: 0;
}
.menu-list-item a {
  cursor: pointer;
  color: #fff;
}
.menu-list-item:hover {
  font-weight: bolder;
}
.menu-list-item.active {
  font-weight: bolder;
}
.profile-container {
  display: flex;
  column-gap: 20px;
}
.profile-picture {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-text-container {
  display: flex;

  align-items: center;

  column-gap: 5px;
  line-height: 1;
}
.toggle {
  width: 40px;
  height: 20px;
  background-color: white;
  position: relative;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.toggle-icon {
  color: goldenrod;
}
.toggle-ball {
  width: 18px;
  height: 18px;
  background-color: black;
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  right: 1px;
}
/*! navbar end  */

/*! sidebar start  */
.sidebar {
  background-color: black;
  color: white;
  height: 100%;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  row-gap: 40px;
  position: fixed;
}

.sidebar i {
  color: white;
  font-size: 20px;
  cursor: pointer;
}
/*! sidebar end  */

/*! featured start */

.content-wrapper {
  margin-left: 50px;
}

.featured-content {
  background: url("img/tbate-title.webp");
  padding: 50px;
  height: calc(100vh - 160px);
  background-size: 100% 100%;
}

.featured-title {
  width: 400px;
}

.featured-desc {
  width: 500px;
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  padding: 10px;
  margin: 30px 0;
}

.featured-buttons {
  display: flex;
  column-gap: 5px;
  flex-wrap: wrap;
}

.featured-buttons button {
  padding: 10px 25px;
  border-radius: 2px;
  border: none;
  outline: none;
  cursor: pointer;
  column-gap: 10px;
  font-size: 16px;
  font-weight: bold;
}

.featured-buttons .info-button {
  background-color: rgb(145, 142, 142, 0.5);
  color: white;
}

/*! featured end */

/*! filter start  */
.book-list-filter {
  margin: 20px 0 20px 50px;
  padding: 20px;
}

.book-list-filter select {
  background-color: black;
  color: white;
  padding: 7px 0;
  width: 125px;
}

/*! filter end  */

/*! book list start  */
.book-list-container {
  margin-left: 70px;
}

.book-list {
  list-style: none;
  padding: 0;
  height: 500px;
  display: flex;
  align-items: center;
  column-gap: 25px;
  transform: translateX(0);
}

.book-list-wrapper {
  overflow: hidden;
  position: relative;
}

.book-item-img {
  width: 270px;
  height: 400px;
  object-fit: cover;
  transition: 1s all ease-in-out;
}

.book-item {
  position: relative;
}

.book-item:hover .book-item-title,
.book-item:hover .book-item-buttons {
  opacity: 1;
}

.book-item:hover .book-item-img {
  transform: scale(1.2);
  margin: 0 30px;
  opacity: 0.75;
}

.book-item-title {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 0 10px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  top: 10%;
  left: 50px;
  opacity: 0;
  transition: 1s all ease-in-out;
}
.book-item-buttons {
  background-color: rgb(40, 40, 40, 0.4);
  padding: 5px;
  font-size: 25px;
  font-weight: bold;
  position: absolute;
  bottom: 10%;
  left: 50px;
  transition: 1s ease-in-out;
  display: flex;
  column-gap: 20px;
  opacity: 0;
}

.book-item-buttons i {
  cursor: pointer;
  opacity: 0.5;
  transition: 0.5s all ease;
}

.book-item-buttons i:hover {
  opacity: 1;
}

.arrow {
  width: 100px;
  display: flex;
  font-size: 120px;
  position: absolute;
  right: 0;
  top: 200px;
  opacity: 0.5;
  transition: 0.5s ease all;
  cursor: pointer;
}

.arrow:hover {
  opacity: 1;
}

/*! book list end  */

/*! responsive start  */

@media only screen and (max-width: 800px) {
  .menu-container {
    display: none;
  }
  .featured-content {
    height: 50vh;
  }
  .featured-title {
    width: 200px;
  }
  .featured-desc {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    max-width: 200px;
    padding: 0;
  }
}

/*! responsive end  */
