.slider {
    -webkit-appearance: none;
    appearance: none;
}

.slider::-webkit-slider-thumb {
    background: var(--accent);
    -webkit-appearance: none;
    cursor: pointer;
    height: 14px;
    width: 14px;
    border-radius: 50%;
}