 .checkbox:checked~.mark {
     background-color: var(--accent);
     border-color: var(--accent);
     animation: kintaro-bounce 0.5s;
 }

 .checkbox:checked~.mark .icon {
     color: var(--text-1);
 }

 @keyframes kintaro-bounce {

     0%,
     100% {
         transform: scale(1);
     }

     50% {
         transform: scale(1.1);
     }
 }