# -----------------------------------------------------------------------------
# 1. APP CORE
# -----------------------------------------------------------------------------

NODE_ENV="development"

APP_NAME="Aether Omnia"

HOSTNAME="192.168.1.100"
PORT="3000"

NEXT_PUBLIC_APP_URL="http://${HOSTNAME}:${PORT}"

# -----------------------------------------------------------------------------
# 2. DATABASE
# -----------------------------------------------------------------------------

DATABASE_URL=""

# -----------------------------------------------------------------------------
# 3. AUTH
# -----------------------------------------------------------------------------

ADMIN_LOCALE_COOKIE="Aether_Omnia_Admin_Locale"

AUTH_SECRET=""

AUTH_URL="http://${HOSTNAME}:${PORT}"

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""
AUTH_GITHUB_ID=""
AUTH_GITHUB_SECRET=""

# -----------------------------------------------------------------------------
# 4. SECURITY
# -----------------------------------------------------------------------------

API_INTERNAL_SECRET="" #api

AUTH_SALT_ROUNDS="12" #Bcrypt

NEXT_PUBLIC_ADMIN_ROUTE_PREFIX="/admin"

# -----------------------------------------------------------------------------
# 5. E-MAIL
# -----------------------------------------------------------------------------

SMTP_HOST=""
SMTP_PORT=""
SMTP_USER=""
SMTP_PASSWORD=""
SMTP_FROM=""

# -----------------------------------------------------------------------------
# 6. FILE
# -----------------------------------------------------------------------------

AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_REGION=""
AWS_BUCKET_NAME=""

# -----------------------------------------------------------------------------
# 7. LOGGUNG
# -----------------------------------------------------------------------------

NEXT_PUBLIC_SENTRY_DSN=""
